{% block doc -%}
<!DOCTYPE html>
<html lang="en">
  {%- block html %}
    <head>
      <title>{% block title %}Library - {{ title|default }}{% endblock title %}</title>
      {%- block metas %}
        {% include 'metadata.html' %}
      {%- endblock metas %}

      {% from 'macros.html' import add_css %}
      {% block styles %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      {% endblock %}
    </head>

    <body>
    {% block body -%}
      {% block navbar %}
      {%- endblock navbar %}

      {% block content -%}
      {%- endblock content %}

      {% block footer -%}
      {%- endblock footer %}

      {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      {%- endblock scripts %}
    {%- endblock body %}
    </body>
  {%- endblock html %}
</html>
{% endblock doc -%}
