{% extends "_base.html" %}

{% block navbar %}
    {% include 'header.html' %}
{%- endblock navbar %}

{% block content %}
<div class="books container mt-4">
    <div class="pt-5">
        <div class="row">
            <div class="col-3">
                <div class="" id="add"><button type="button" class="btn btn-primary" data-toggle="modal" data-name="Add" data-target="#bookform"><i data-feather="plus"></i> Add Book</button></div>
            </div>
            <div class="col-6">
                {% include 'security/_messages.html' %}
            </div>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="col-6 col-sm-4 col-xl-3 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><a href="{{ url_for('.books', title=book.title) }}">{{ book.title }}</a></h5>
                            {# <p class="card-text">Book description.</p> #}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">ISBN: {{ book.isbn }}</li>
                            <li class="list-group-item">Author: {{ book.author }}</li>
                        </ul>
                        <div class="card-body d-flex justify-content-between">
                            <form class="form" role="form" action="{{ url_for('library.remove', id=book.id) }}" method="GET">
                                <button type="submit" class="btn btn-danger"><i data-feather="trash"></i></button>
                            </form>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-name="Save" data-target="#bookform" data-title="{{ book.title }}" data-isbn="{{ book.isbn }}" data-author="{{ book.author }}" data-id="{{ book.id }}"><i data-feather="edit"></i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="bookform" tabindex="-1" role="dialog" aria-labelledby="addbookLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addbookLabel">Add book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Bform" action="{{ url_for('library.create') }}" method="POST">
                    {{ form.csrf_token }}
                    <input type="hidden" id="id" name="id" value="">
                    <div class="form-group">
                        <label for="title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" autofocus required>
                    </div>
                    <div class="form-group">
                        <label for="isbn" class="col-form-label">ISBN:</label>
                        <input class="form-control" id="isbn" name="isbn" required></input>
                    </div>
                    <div class="form-group">
                        <label for="author" class="col-form-label">Authors:</label>
                        <input class="form-control" id="author" name="author"></input>
                    </div>
                    <div class="modal-footer">
                        <button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="submit" type="submit" name="submit" class="btn btn-primary"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
    {{ super() }}
    {% from 'macros.html' import add_css %}
    <style>{{ get_resource_as_string('books.css', folder='styles') | safe }}</style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/feather-icons"></script>
    <script>feather.replace()</script>
    <script>
        var modal = $('#bookform');
        var form = modal.find('form');
        var title = modal.find('.modal-body #title');
        var isbn = modal.find('.modal-body #isbn');
        var author = modal.find('.modal-body #author');
        var id = modal.find('.modal-body #id');
        id.val(0);
        modal.on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var submitName = button.data('name')
            var url = '{{ url_for('.create') }}';
            if(submitName === 'Save') {
                url = '{{ url_for('.update') }}';
                title.val(button.data('title'))
                isbn.val(button.data('isbn'))
                author.val(button.data('author'));
                id.val(button.data('id'));
            }
            form.attr('action', url);
            modal.find('.modal-body #submit').text(submitName);
        });
        modal.on('hidden.bs.modal', function (event) {
            document.getElementById("Bform").reset();
        });
    </script>
{% endblock %}

{% block footer -%}
    {% include 'footer.html' %}
{%- endblock footer %}
