<footer>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="text-mute">Made by <a href="https://fmorato.com/" target="_blank" role="button" rel="me noopener noreferrer nofollow">Felipe Morato</a></p>
      </div>
    </div>
  </div>
</footer>

