<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">Library</a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                &#9776;
            </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="nav navbar-nav">
                    {% from 'macros.html' import nav_link with context %}
                    {{ nav_link('library.books', 'Books') }}
                    {# {{ nav_link('library.authors', 'Authors') }} #}
                </ul>
                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <li class="nav-item order-3 order-md-1">
                        <a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a>
                    </li>
                    {# <li class="dropdown">
                        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Register <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right mt-2">
                            <li class="px-3 py-2">
                                <form class="form" role="form">
                                    <div class="form-group">
                                        <input id="emailInput" placeholder="Email" class="form-control form-control-sm" type="text" required="">
                                    </div>
                                    <div class="form-group">
                                        <input id="passwordInput" placeholder="Password" class="form-control form-control-sm" type="text" required="">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li> #}
                    <li class="dropdown">
                        {% if current_user.is_authenticated %}
                            <span class="navbar-text">{{ current_user.email }}</span>
                            <a href="{{ url_for_security('logout') }}" type="button" id="logout" class="btn btn-outline-secondary text-secondary ml-2">Logout</span></a>
                        {% else %}
                            <a href="{{ url_for_security('login') }}" type="button" id="logout" class="btn btn-outline-secondary text-secondary">Login</span></a>
                            {# <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button> #}
                            {# <ul class="dropdown-menu dropdown-menu-right mt-2">
                                <li class="px-3 py-2"> #}
                                    {# {% include 'security/login_user.html' with context %} #}
                                    {# <form class="form" role="form" action="{{ url_for('security.login') }}" method="POST" name="login_user_form">
                                        <div class="form-group">
                                            <input id="emailInput" placeholder="Email" class="form-control form-control-sm" type="text" required="">
                                        </div>
                                        <div class="form-group">
                                            <input id="passwordInput" placeholder="Password" class="form-control form-control-sm" type="text" required="">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                                        </div>
                                    </form> #}
                                {# </li>
                            </ul> #}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
