{% extends "_base.html" %}

{% block navbar %}
    {% include 'header.html' %}
{%- endblock navbar %}

{% block title %}{{ super() }}Home{%- endblock title %}

{% block content %}
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Browse books. Select above.</h4>
                        {% if not current_user.is_authenticated %}
                            <p class="mt-4"><b>user:</b>admin@example.com / admin</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block styles %}
    {{ super() }}
    {% from 'macros.html' import add_css %}
    <style>{{ get_resource_as_string('home.css', folder='styles') | safe }}</style>
{% endblock %}

{% block footer -%}
    {% include 'footer.html' %}
{%- endblock footer %}
