{% macro add_css(file_url, endpoint=false) %} 
  {% if endpoint %}
    {% set url = url_for(endpoint, filename=file_url) %}
  {% else %}
    {% set url = asset_url_for(file_url) %}
  {% endif %} 
    <link rel="preload" href="{{ url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="{{ url }}">
    </noscript>
{% endmacro %}

{% macro nav_link(endpoint, text) %}
    <li class="nav-item {{ 'active' if request.endpoint.endswith(endpoint) }}">
      <a class="nav-link" href="{{ url_for(endpoint) }}">{{ text }}</a>
    </li>
{% endmacro %}