{# https://wiki.whatwg.org/wiki/MetaExtensions #}

<meta charset="UTF-8">
<title>{{ title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

<meta name="robots" content="index"/>
<meta name="apple-mobile-web-app-capable" content="YES"/>

<meta name="title" content="{{ title }}" />
<meta name="author" content="Felipe Morato" />
<meta name="description" content="{# {{ description }} #}" />
