{% extends "_base.html" %}

{% block navbar %}
    {% include 'header.html' %}
{%- endblock navbar %}

{% block title %}{{ super() }}Login{%- endblock title %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>

              {% include "security/_messages.html" %}
              <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                {{ login_user_form.hidden_tag() }}
								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
								</div>

								<div class="form-group">
									<label for="password">Password
										{# <a href="forgot.html" class="float-right">
											Forgot Password?
										</a> #}
									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								</div>

								<div class="form-group">
									<label>
										<input type="checkbox" id="remember" name="remember"> Remember Me
									</label>
								</div>

								<div class="form-group no-margin">
									<button id="submit" type="submit" name="submit" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
              </form>
              {# {% include "security/_menu.html" %} #}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block styles %}
    {{ super() }}
    {% from 'macros.html' import add_css %}
    <style>{{ get_resource_as_string('login.css', folder='styles') | safe }}</style>
{% endblock %}

{% block footer -%}
    {% include 'footer.html' %}
{%- endblock footer %}
