body {
  background: #eee;
}

.card {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.card-body {
  padding: 0.75rem 1.25rem;
}

#add {
  margin-bottom: 1rem;
  padding-left: 15px;
}
