body {
  background: #f7f9fb;
}
.card-wrapper {
  width: 400px;
}
.card {
  margin: 170px auto 100px;
  border-color: transparent;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
.fat {
  padding: 10px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
